{% extends "car_renter/base.html" %}
{% load static%}
{% block content %}
    <div id="car-renter-app">
        <v-app id="renter">
            <!-- Kontent nawigacji -->
            {% if renter_panel or map_panel or user_panel %}
                <v-navigation-drawer
                    v-model="drawer"
                    app
                    disable-resize-watcher
                    disable-route-watcher
                >
                    <template
                        v-if="isUserFetched"
                        v-slot:prepend
                    >
                        <v-list-item two-line>
                            <v-list-item-avatar>
                                <img
                                    src="https://cdn.vuetifyjs.com/images/john.jpg"
                                    alt="John"
                                >
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>[[ user.username ]]</v-list-item-title>
                                <v-list-item-subtitle>
                                    <v-btn
                                        x-small
                                        dark
                                        @click="logOutUser()"
                                        :disabled="!isUserFetched"
                                    >
                                        Log Out
                                    </v-btn>
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider
                        v-if="isUserFetched"
                    ></v-divider>

                    <v-list dense>
                        <v-list-item link>
                            <v-list-item-action>
                                <v-icon>mdi-earth</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Mapa</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link>
                            <v-list-item-action>
                                <v-icon>mdi-car</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Panel wynajmu</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
            {% endif %}
            <!-- Render nawigacji -->
            <v-app-bar
                app
                color="primary"
                clipped-left
                dark
            >
                {% if renter_panel or map_panel or user_panel %}
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
                {% endif %}
                <v-toolbar-title>Rent&Go</v-toolbar-title>
                {% if landing_page %}
                    <v-spacer></v-spacer>
                    {% if user.is_authenticated %}
                        <v-btn class="ma-2" text small color="white">Przejdź do panelu</v-btn>
                    {% else %}
                        <v-btn class="ma-2" text small color="white">Logowanie</v-btn>
                        <v-btn class="ma-2" text small color="white">Rejestracja</v-btn>
                    {% endif %}
                {% endif %}
            </v-app-bar>

            <!-- Kontent strony -->
            {% if landing_page %}
                <landing-page></landing-page>
            {% elif renter_panel %}
                <renter-panel></renter-panel>
            {% elif map_panel %}
                <map-panel></map-panel>
            {% elif user_panel %}
                <user-panel></user-panel>
            {% else %}
                <!-- TODO: zrobic redirect do not found -->
            {% endif %}
            {% if renter_panel or map_panel or user_panel %}
                <v-footer
                        color="primary"
                        app
                >
                    <v-spacer />

                    <span class="white--text">&copy; 2019</span>
                </v-footer>
            {% endif %}
        </v-app>
    </div>
    <!-- shared components -->
    <script src="{% static "js/vue/components/shared/vehicle_card.js" %}"></script>
    <script src="{% static "js/vue/components/shared/vehicles_cards_container.js" %}"></script>
    <script src="{% static "js/vue/components/shared/vehicles_map.js" %}"></script>
    <!-- view components -->
    <script src="{% static "js/vue/components/views/landing_page.js" %}"></script>
    <script src="{% static "js/vue/components/views/map_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/renter_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/user_panel.js" %}"></script>
    <!-- app -->
    <script src="{% static "js/vue/instances/app.js" %}"></script>
{% endblock %}