{% extends "car_renter/base.html" %}
{% load static%}
{% block content %}
    <div id="car-renter-app">
        <v-app id="renter">
            <!-- Kontent nawigacji -->
            {% if renter_panel or map_panel or user_panel %}
                <v-navigation-drawer
                        v-model="drawer"
                        app
                        right
                >
                    <template
                        v-if="isUserFetched"
                        v-slot:prepend
                    >
                        <v-list-item two-line>
                            <v-list-item-avatar>
                                <img
                                    src="https://cdn.vuetifyjs.com/images/john.jpg"
                                    alt="John"
                                >
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>[[ user.username ]]</v-list-item-title>
                                <v-list-item-subtitle>
                                    <v-btn
                                        x-small
                                        dark
                                        @click="logOutUser()"
                                        :disabled="!isUserFetched"
                                    >
                                        Log Out
                                    </v-btn>
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider
                        v-if="isUserFetched"
                    ></v-divider>

                    <v-list dense>
                        <v-list-item link>
                            <v-list-item-action>
                                <v-icon>mdi-earth</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Mapa</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link>
                            <v-list-item-action>
                                <v-icon>mdi-car</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Panel wynajmu</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
            {% endif %}
            <!-- Render nawigacji -->
            <v-app-bar
                    app
                    color="cyan"
                    dark
                    fixed
            >
                <v-spacer />

                <v-toolbar-title>Rent&Go</v-toolbar-title>
                {% if renter_panel or map_panel or user_panel %}
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
                {% endif %}
            </v-app-bar>

            <!-- Kontent strony -->
            <v-content>

                {% if ladning_page %}
                    <landing-page></landing-page>
                {% elif renter_panel %}
                    <renter-panel></renter-panel>
                {% elif map_panel %}
                    <map-panel></map-panel>
                {% elif user_panel %}
                    <user-panel></user-panel>
                {% else %}
                    <!-- TODO: zrobic redirect do not found -->
                {% endif %}

            </v-content>

            <v-footer
                    color="cyan"
                    app
            >
                <v-spacer />

                <span class="white--text">&copy; 2019</span>
            </v-footer>
        </v-app>
    </div>
    <!-- shared components -->
    <!-- view components -->
    <script src="{% static "js/vue/components/views/landing_page.js" %}"></script>
    <script src="{% static "js/vue/components/views/map_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/renter_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/user_panel.js" %}"></script>
    <!-- app -->
    <script src="{% static "js/vue/instances/app.js" %}"></script>
{% endblock %}