{% extends "car_renter/base.html" %}
{% load static%}
{% block content %}
    <div id="car-renter-app">
        <v-app id="renter">
            <!-- Kontent nawigacji -->
            {% if renter_panel or map_panel or user_panel or map_panel or rent_panel %}
                <v-navigation-drawer
                    v-if="isUserFetched"
                    v-model="drawer"
                    app
                    disable-resize-watcher
                    disable-route-watcher
                    hide-overlay
                    clipped
                >
                    <template
                        v-if="isUserFetched"
                        v-slot:prepend
                    >
                        <v-list-item two-line>
                            <v-list-item-avatar>
                                <v-icon>mdi-account-circle</v-icon>
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>[[ user.user.username ]]</v-list-item-title>
                                <v-list-item-subtitle>
                                    <v-btn
                                        x-small
                                        dark
                                        @click="logOutUser()"
                                        :disabled="!isUserFetched"
                                    >
                                        Wyloguj
                                    </v-btn>
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </template>

                    <v-divider
                        v-if="isUserFetched"
                    ></v-divider>

                    <v-list dense>
                        <v-list-item
                            link
                            @click="openRenterPanel()"
                        >
                            <v-list-item-action>
                                <v-icon>mdi-car</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Panel wynajmu</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item
                            link
                            @click="openHistoricRentPanel()"
                        >
                            <v-list-item-action>
                                <v-icon>mdi-clipboard-list-outline</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Panel wypożyczeń</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item
                            link
                            @click="openMapPanel()"
                        >
                            <v-list-item-action>
                                <v-icon>mdi-earth</v-icon>
                            </v-list-item-action>

                            <v-list-item-content>
                                <v-list-item-title>Mapa</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
            {% endif %}
            <!-- Render nawigacji -->
            <v-app-bar
                app
                clipped-left
                color="primary"
                dark
            >
                {% if renter_panel or map_panel or user_panel or map_panel or rent_panel %}
                    <v-app-bar-nav-icon
                        v-if="isUserFetched"
                        @click.stop="drawer = !drawer"
                    >
                    </v-app-bar-nav-icon>
                {% endif %}
                <v-toolbar-title>Rent&Go</v-toolbar-title>
                {% if landing_page or registration_page %}
                    <v-spacer></v-spacer>
                    {% if user.is_authenticated %}
                        <v-btn
                            class="ma-2"
                            text small
                            color="white"
                            @click="openRenterPanel()"
                        >
                            Przejdź do panelu
                        </v-btn>
                    {% else %}
                        <v-btn
                            class="ma-2"
                            text small
                            color="white"
                            @click="openLoginPage()"
                        >
                            <v-tooltip bottom v-if="areNavBarLabelsHidden">
                                <template v-slot:activator="{ on }">
                                    <v-icon v-on="on">mdi-login</v-icon>
                                </template>
                                Logowanie
                            </v-tooltip>
                            <span v-show="!areNavBarLabelsHidden">Logowanie</span>
                        </v-btn>
                        <v-btn
                            class="ma-2"
                            text small
                            color="white"
                            @click="openRegistrationPage()"
                        >
                            <v-tooltip bottom v-if="areNavBarLabelsHidden">
                                <template v-slot:activator="{ on }">
                                    <v-icon
                                        v-on="on"
                                        @click="openRegistrationPage()"
                                    >
                                        mdi-account-plus
                                    </v-icon>
                                </template>
                                Rejestracja
                            </v-tooltip>
                            <span
                                v-show="!areNavBarLabelsHidden"
                            >
                                Rejestracja
                            </span>
                        </v-btn>
                    {% endif %}
                {% endif %}
            </v-app-bar>

            <!-- Kontent strony -->
            {% if landing_page %}
                <landing-page></landing-page>
            {% elif registration_page %}
                <registration-page></registration-page>
            {% elif renter_panel %}
                <renter-panel
                    :is-user-fetched="isUserFetched"
                    :user="user"
                ></renter-panel>
            {% elif map_panel %}
                <map-panel
                    :is-user-fetched="isUserFetched"
                    :user="user"
                ></map-panel>
            {% elif user_panel %}
                <user-panel
                    :is-user-fetched="isUserFetched"
                    :user="user"
                ></user-panel>
            {% elif rent_panel %}
                <rent-panel
                    :is-user-fetched="isUserFetched"
                    :user="user"
                ></rent-panel>
            {% else %}
                <!-- TODO: zrobic redirect do not found -->
            {% endif %}
            {% if renter_panel or map_panel or user_panel or map_panel or rent_panel %}
                <v-footer
                    v-if="isUserFetched"
                    color="primary"
                    app
                >
                    <v-spacer />

                    <span class="white--text">&copy; 2019</span>
                </v-footer>
            {% endif %}
            <v-overlay
                ref="overlayElement"
                :absolute="absolute"
                :opacity="opacity"
                :value="overlay"
            >
                <v-row justify="center">
                    <v-col
                        cols="12"
                        :class="'d-flex justify-center'"
                        align-self="center"
                    >
                        <p class="mb-4">
                            [[ overlayMessage ]]
                        </p>
                    </v-col>
                    <v-col
                        cols="12"
                        :class="'d-flex justify-center'"
                        align-self="center"
                    >
                        <v-btn
                            color="success"
                            @click="executeOverlayAction()"
                        >
                            [[ overlayActionLabel ]]
                        </v-btn>
                    </v-col>
                </v-row>
            </v-overlay>
        </v-app>
    </div>
    <!-- shared components -->
    <script src="{% static "js/vue/components/shared/vehicle_card.js" %}"></script>
    <script src="{% static "js/vue/components/shared/vehicles_cards_container.js" %}"></script>
    <script src="{% static "js/vue/components/shared/vehicles_map.js" %}"></script>
    <!-- landing page components -->
    <script src="{% static "js/vue/components/landing_page/presentation_text_card.js" %}"></script>
    <!-- view components -->
    <script src="{% static "js/vue/components/views/landing_page.js" %}"></script>
    <script src="{% static "js/vue/components/views/registration_page.js" %}"></script>
    <script src="{% static "js/vue/components/views/map_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/renter_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/user_panel.js" %}"></script>
    <script src="{% static "js/vue/components/views/rent_panel.js" %}"></script>
    <!-- app -->
    <script src="{% static "js/vue/instances/app.js" %}"></script>
{% endblock %}